<a href="https://colab.research.google.com/github/jaya-shankar/DSS_project/blob/main/combine_covid_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## setting up enviroment

In [ ]:
!sudo apt-get install git-lfs
!git lfs install --system --skip-repo
!pip install tensorflow_decision_forests
!pip install wurlitzer

In [ ]:
!rm -rf DSS_project

!git clone https://github.com/jaya-shankar/DSS_project.git

In [3]:
import pandas as pd
import tensorflow_decision_forests as tfdf
from sklearn.model_selection import train_test_split

WARNING:root:TF Parameter Server distributed training not available (this is expected for the pre-build release).

In [4]:
root_path = "/content/DSS_project/datasets"
raw_path = "/content/DSS_project/raw_datasets"

## cleaning up us-counties dataset

In [ ]:
data_df = pd.read_csv(f"{raw_path}/us-counties.csv")
data_df

In [ ]:
p = data_df.groupby(by = ['date','state_code']).sum()
p.drop(columns=['fips'],inplace=True)
p = p.reset_index()
p

In [ ]:
states = set(p['state_code'])
states

In [93]:
updated_df = pd.DataFrame(columns = ['date','state_code','cases','deaths'])
for state in states:
  p_s = p[p.state_code==state]
  p_s['cases'] = p_s['cases'] - p_s['cases'].shift(1)
  p_s['deaths'] = p_s['deaths'] - p_s['deaths'].shift(1)
  updated_df = pd.concat([updated_df, p_s])
display(updated_df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

             date state_code   cases  deaths
625    2020-03-13         PR     NaN     NaN
676    2020-03-14         PR     1.0     0.0
728    2020-03-15         PR     1.0     0.0
780    2020-03-16         PR     0.0     0.0
832    2020-03-17         PR     0.0     0.0
...           ...        ...     ...     ...
40531  2022-04-05         SC  1566.0    59.0
40584  2022-04-06         SC     0.0     0.0
40637  2022-04-07         SC     0.0     0.0
40690  2022-04-08         SC     0.0     0.0
40743  2022-04-09         SC     0.0     0.0

[40754 rows x 4 columns]

In [94]:
updated_df.columns
updated_df.insert(0, 'state_code', updated_df.pop('state_code'))
updated_df.dropna(inplace=True)

In [104]:
updated_df.drop(updated_df[(updated_df['cases'] < 0) | (updated_df['deaths'] < 0)].index, inplace = True)
updated_df.sort_values(by=['date'], inplace=True)
updated_df.reset_index(drop=True, inplace=True)

In [106]:
updated_df

      state_code        date   cases  deaths
0             WA  2020-01-22     0.0     0.0
1             WA  2020-01-23     0.0     0.0
2             WA  2020-01-24     0.0     0.0
3             WA  2020-01-25     0.0     0.0
4             IL  2020-01-25     0.0     0.0
...          ...         ...     ...     ...
40406         NV  2022-04-09   174.0    10.0
40407         NY  2022-04-09  3263.0     7.0
40408         IN  2022-04-09     0.0     5.0
40409         GA  2022-04-09     0.0     0.0
40410         SC  2022-04-09     0.0     0.0

[40411 rows x 4 columns]

In [107]:
updated_df['cases'].value_counts(bins=10, sort=False)

(-227.973, 22797.2]     40007
(22797.2, 45594.4]        267
(45594.4, 68391.6]         86
(68391.6, 91188.8]         29
(91188.8, 113986.0]         6
(113986.0, 136783.2]        8
(136783.2, 159580.4]        1
(159580.4, 182377.6]        3
(182377.6, 205174.8]        1
(205174.8, 227972.0]        3
Name: cases, dtype: int64

## combining us-counties and general df

In [ ]:
general_df = pd.read_csv('/content/DSS_project/datasets/combined_general_data.csv')
# general_df

In [ ]:
combined_df = pd.merge(updated_df, general_df, on="state_code")
# combined_df

In [116]:
combined_df_cpy = combined_df.copy()
combined_df_cpy.drop(columns=['state_code','date','deaths'],inplace=True)
combined_df_cpy['cases'].value_counts(bins=10, sort=False)

(-227.973, 22797.2]     40007
(22797.2, 45594.4]        267
(45594.4, 68391.6]         86
(68391.6, 91188.8]         29
(91188.8, 113986.0]         6
(113986.0, 136783.2]        8
(136783.2, 159580.4]        1
(159580.4, 182377.6]        3
(182377.6, 205174.8]        1
(205174.8, 227972.0]        3
Name: cases, dtype: int64

In [117]:
train_df, test_df = train_test_split(combined_df_cpy, test_size=0.3)
train_df = train_df.sample(frac = 0.05)
test_df = test_df.sample(frac = 0.05)
train_df

,cases,no_of_hospitals,miles_of_road,percent_democrat,population,avg_income,mean_travel_time,above_65,percent_white,persons_per_household,percent_in_poverty
17514,3141.0,114,80006.0,36.000000,9011672,47551.0,23.0,16.0,84.0,2.00,16.0
28579,4108.0,158,122040.0,51.000000,20154662,51071.0,24.0,17.0,74.0,2.00,14.0
28031,986.0,227,122991.0,45.947961,23598896,52758.0,23.5,17.1,78.7,2.43,13.9
27928,2806.0,227,122991.0,45.947961,23598896,52758.0,23.5,17.1,78.7,2.43,13.9
37919,566.0,58,19916.0,NaN,6571748,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2052,2123.0,397,175562.0,65.934760,79076446,57347.0,29.3,14.3,36.8,2.96,12.8
18312,328.0,26,4501.0,65.042567,2910542,47234.0,27.4,18.4,21.8,3.02,8.8
35076,1207.0,38,22851.0,55.000000,2724718,50516.0,24.0,20.0,93.0,2.00,11.0
31213,0.0,52,72092.0,55.400905,4235044,45637.0,22.1,17.5,37.1,2.64,19.5
3960,1596.0,97,36815.0,66.783356,14059834,65853.0,29.7,16.5,71.4,2.53,10.0

In [118]:
# Convert the dataset into a TensorFlow dataset.
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(train_df, label="cases",task=tfdf.keras.Task.REGRESSION)
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(test_df, label="cases",task=tfdf.keras.Task.REGRESSION)

# Train a Random Forest model.
model = tfdf.keras.RandomForestModel(task = tfdf.keras.Task.REGRESSION)
model.fit(train_ds)

# Summary of the model structure.
model.summary()

# Evaluate the model.
model.evaluate(test_ds)

/usr/local/lib/python3.7/dist-packages/tensorflow_decision_forests/keras/core.py:2036: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  features_dataframe = dataframe.drop(label, 1)

Use /tmp/tmpeqlhgdu4 as temporary training directory
Starting reading the dataset
1/2 [==============>...............] - ETA: 0s
Dataset read in 0:00:00.176047
Training model
Model trained in 0:00:00.613671
Compiling model
2/2 [==============================] - 1s 704ms/step
Model: "random_forest_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1
Trainable params: 0
Non-trainable params: 1
_________________________________________________________________
Type: "RANDOM_FOREST"
Task: REGRESSION
Label: "__LABEL"

Input Features (10):
	above_65
	avg_income
	mean_travel_time
	miles_of_road
	no_of_hospitals
	percent_democrat
	percent_in_poverty
	percent_white
	persons_per_household
	population

No weights

Variable Importance: MEAN_MIN_DEPTH:
    1.               "__LABEL"  7.524656 ################
    2.              "above_65"  6.556533 #############
    3.      "percent_democrat"  6.446892 ############
    4. "persons_per_household"  6.218032 ############
    5.    "percent_in_poverty"  6.054270 ###########
    6.         "percent_white"  6.025141 ###########
    7.            "avg_income"  5.782902 ###########
    8.      "mean_travel_time"  5.034750 ########
    9.         "miles_of_road"  4.536197 #######
   10.       "no_of_hospitals"  2.120249
   11.            "population"  1.874109

Variable Importance: NUM_AS_ROOT:
    1.       "no_of_hospitals" 123.000000 ################
    2.            "population" 78.000000 ##########
    3.         "miles_of_road" 60.000000 #######
    4.      "mean_travel_time" 19.000000 ##
    5.         "percent_white" 16.000000 #
    6. "persons_per_household"  3.000000
    7.    "percent_in_poverty"  1.000000

Variable Importance: NUM_NODES:
    1.            "population" 2155.000000 ################
    2.       "no_of_hospitals" 1944.000000 ############
    3.            "avg_income" 1600.000000 #####
    4.         "miles_of_road" 1591.000000 #####
    5.         "percent_white" 1481.000000 ###
    6.      "mean_travel_time" 1438.000000 ##
    7.      "percent_democrat" 1406.000000 ##
    8.    "percent_in_poverty" 1360.000000 #
    9. "persons_per_household" 1335.000000
   10.              "above_65" 1285.000000

Variable Importance: SUM_SCORE:
    1.       "no_of_hospitals" 979407618448.912598 ################
    2.            "population" 697248051086.889526 ###########
    3.         "miles_of_road" 425814824565.783386 ######
    4.      "mean_travel_time" 251639131931.965759 ###
    5.         "percent_white" 142187207468.642181 #
    6. "persons_per_household" 109705206584.763702 #
    7.            "avg_income" 87466507092.636810
    8.    "percent_in_poverty" 68778893573.365372
    9.              "above_65" 64634857005.534332
   10.      "percent_democrat" 45273768879.486465



Out-of-bag evaluation: rmse:4428.42
Number of trees: 300
Total number of nodes: 31490

Number of nodes by tree:
Count: 300 Average: 104.967 StdDev: 0.303681
Min: 101 Max: 105 Ignored: 0
----------------------------------------------
[ 101, 102)   1   0.33%   0.33%
[ 102, 103)   0   0.00%   0.33%
[ 103, 104)   3   1.00%   1.33%
[ 104, 105)   0   0.00%   1.33%
[ 105, 105] 296  98.67% 100.00% ##########

Depth by leafs:
Count: 15895 Average: 7.52432 StdDev: 2.22452
Min: 1 Max: 15 Ignored: 0
----------------------------------------------
[  1,  2)   87   0.55%   0.55%
[  2,  3)  208   1.31%   1.86% #
[  3,  4)  352   2.21%   4.07% #
[  4,  5)  703   4.42%   8.49% ##
[  5,  6) 1357   8.54%  17.03% ####
[  6,  7) 2140  13.46%  30.49% #######
[  7,  8) 2814  17.70%  48.20% #########
[  8,  9) 3163  19.90%  68.10% ##########
[  9, 10) 2300  14.47%  82.57% #######
[ 10, 11) 1431   9.00%  91.57% #####
[ 11, 12)  788   4.96%  96.53% ##
[ 12, 13)  343   2.16%  98.69% #
[ 13, 14)  143   0.90%  99.58%
[ 14, 15)   42   0.26%  99.85%
[ 15, 15]   24   0.15% 100.00%

Number of training obs by leaf:
Count: 15895 Average: 26.6876 StdDev: 7.56375
Min: 6 Max: 66 Ignored: 0
----------------------------------------------
[  6,  9)   26   0.16%   0.16%
[  9, 12)  145   0.91%   1.08% #
[ 12, 15)  466   2.93%   4.01% ##
[ 15, 18) 1072   6.74%  10.75% ####
[ 18, 21) 1687  10.61%  21.37% #######
[ 21, 24) 2226  14.00%  35.37% #########
[ 24, 27) 2520  15.85%  51.22% ##########
[ 27, 30) 2433  15.31%  66.53% ##########
[ 30, 33) 1975  12.43%  78.96% ########
[ 33, 36) 1399   8.80%  87.76% ######
[ 36, 39)  865   5.44%  93.20% ###
[ 39, 42)  513   3.23%  96.43% ##
[ 42, 45)  315   1.98%  98.41% #
[ 45, 48)  128   0.81%  99.21% #
[ 48, 51)   78   0.49%  99.70%
[ 51, 54)   28   0.18%  99.88%
[ 54, 57)   11   0.07%  99.95%
[ 57, 60)    3   0.02%  99.97%
[ 60, 63)    3   0.02%  99.99%
[ 63, 66]    2   0.01% 100.00%

Attribute in nodes:
	2155 : population [NUMERICAL]
	1944 : no_of_hospitals [NUMERICAL]
	1600 : avg_income [NUMERICAL]
	1591 : miles_of_road [NUMERICAL]
	1481 : percent_white [NUMERICAL]
	1438 : mean_travel_time [NUMERICAL]
	1406 : percent_democrat [NUMERICAL]
	1360 : percent_in_poverty [NUMERICAL]
	1335 : persons_per_household [NUMERICAL]
	1285 : above_65 [NUMERICAL]

Attribute in nodes with depth <= 0:
	123 : no_of_hospitals [NUMERICAL]
	78 : population [NUMERICAL]
	60 : miles_of_road [NUMERICAL]
	19 : mean_travel_time [NUMERICAL]
	16 : percent_white [NUMERICAL]
	3 : persons_per_household [NUMERICAL]
	1 : percent_in_poverty [NUMERICAL]

Attribute in nodes with depth <= 1:
	247 : no_of_hospitals [NUMERICAL]
	215 : population [NUMERICAL]
	119 : miles_of_road [NUMERICAL]
	68 : mean_travel_time [NUMERICAL]
	51 : percent_white [NUMERICAL]
	35 : percent_in_poverty [NUMERICAL]
	30 : persons_per_household [NUMERICAL]
	23 : above_65 [NUMERICAL]
	13 : avg_income [NUMERICAL]
	12 : percent_democrat [NUMERICAL]

Attribute in nodes with depth <= 2:
	433 : population [NUMERICAL]
	386 : no_of_hospitals [NUMERICAL]
	179 : miles_of_road [NUMERICAL]
	147 : mean_travel_time [NUMERICAL]
	116 : percent_white [NUMERICAL]
	99 : avg_income [NUMERICAL]
	89 : percent_in_poverty [NUMERICAL]
	83 : persons_per_household [NUMERICAL]
	53 : above_65 [NUMERICAL]
	46 : percent_democrat [NUMERICAL]

Attribute in nodes with depth <= 3:
	714 : population [NUMERICAL]
	559 : no_of_hospitals [NUMERICAL]
	277 : miles_of_road [NUMERICAL]
	263 : mean_travel_time [NUMERICAL]
	215 : avg_income [NUMERICAL]
	214 : percent_white [NUMERICAL]
	192 : persons_per_household [NUMERICAL]
	191 : percent_in_poverty [NUMERICAL]
	148 : percent_democrat [NUMERICAL]
	142 : above_65 [NUMERICAL]

Attribute in nodes with depth <= 5:
	1281 : population [NUMERICAL]
	1040 : no_of_hospitals [NUMERICAL]
	715 : miles_of_road [NUMERICAL]
	708 : avg_income [NUMERICAL]
	665 : mean_travel_time [NUMERICAL]
	613 : percent_white [NUMERICAL]
	558 : persons_per_household [NUMERICAL]
	554 : percent_democrat [NUMERICAL]
	542 : percent_in_poverty [NUMERICAL]
	477 : above_65 [NUMERICAL]

Condition type in nodes:
	15595 : HigherCondition
Condition type in nodes with depth <= 0:
	300 : HigherCondition
Condition type in nodes with depth <= 1:
	813 : HigherCondition
Condition type in nodes with depth <= 2:
	1631 : HigherCondition
Condition type in nodes with depth <= 3:
	2915 : HigherCondition
Condition type in nodes with depth <= 5:
	7153 : HigherCondition
Node format: NOT_SET

Training OOB:
	trees: 1, Out-of-bag evaluation: rmse:5524.01
	trees: 11, Out-of-bag evaluation: rmse:4548.45
	trees: 21, Out-of-bag evaluation: rmse:4461.27
	trees: 31, Out-of-bag evaluation: rmse:4442.42
	trees: 41, Out-of-bag evaluation: rmse:4439.56
	trees: 51, Out-of-bag evaluation: rmse:4425.35
	trees: 61, Out-of-bag evaluation: rmse:4427.52
	trees: 71, Out-of-bag evaluation: rmse:4426.83
	trees: 81, Out-of-bag evaluation: rmse:4421.95
	trees: 91, Out-of-bag evaluation: rmse:4426.01
	trees: 101, Out-of-bag evaluation: rmse:4427.88
	trees: 111, Out-of-bag evaluation: rmse:4426
	trees: 121, Out-of-bag evaluation: rmse:4426.33
	trees: 131, Out-of-bag evaluation: rmse:4427.39
	trees: 141, Out-of-bag evaluation: rmse:4430.32
	trees: 151, Out-of-bag evaluation: rmse:4433.88
	trees: 161, Out-of-bag evaluation: rmse:4434.53
	trees: 171, Out-of-bag evaluation: rmse:4433.85
	trees: 181, Out-of-bag evaluation: rmse:4434
	trees: 191, Out-of-bag evaluation: rmse:4431.93
	trees: 201, Out-of-bag evaluation: rmse:4432.68
	trees: 211, Out-of-bag evaluation: rmse:4433.4
	trees: 221, Out-of-bag evaluation: rmse:4433.49
	trees: 231, Out-of-bag evaluation: rmse:4432.81
	trees: 241, Out-of-bag evaluation: rmse:4433.43
	trees: 251, Out-of-bag evaluation: rmse:4429.7
	trees: 261, Out-of-bag evaluation: rmse:4427.49
	trees: 271, Out-of-bag evaluation: rmse:4428.27
	trees: 281, Out-of-bag evaluation: rmse:4428.6
	trees: 291, Out-of-bag evaluation: rmse:4428.63
	trees: 300, Out-of-bag evaluation: rmse:4428.42

1/1 [==============================] - 0s 105ms/step - loss: 0.0000e+00

0.0

In [74]:
data_df.to_csv("/content/DSS_project/datasets/covid_cases.csv")